table {
  border-collapse: collapse;
}

th {
  padding: 2px 4px 2px 4px;
}

td {
  text-align: left;
  padding: 3px 4px 2px 4px;
}

.header {
  background: #F97C00;
  color: white;
  text-transform: capitalize;
}

td.copay, td.premium, td.annualLimit {
  text-align: right;
}

.odd {
  background: #DDEFFF;
}

.even {
  background: #FDFDFF;
}
